@tailwind base;
@tailwind components;
@tailwind utilities;

.sec1{
    border-bottom: 2px solid black;
    height: auto;
    width: 100%;
    padding-bottom: 2%;
}
.sec1 h1{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    font-weight: 700;
}
.sec1 p{
    text-align: center;
}
.salad{
    height: auto;
    border-bottom: 2px solid black;
}
@media (min-width:953px){
    .salad{
        display: flex;
    }
    .saladimg{
        height: 400px;
    }
.saladcont{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saladcont h1{
    font-size: 30px;
    font-weight: 600;
}
.saladcont button{
    font-size: 22px;
    font-weight: 400;
    color: antiquewhite;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    border-radius: 10%;
    background-color: rgb(97, 3, 38);
}
.noodimg{
    margin-top: 2%;
    height: 300px;
    margin-left: 5%;
}
}
@media (max-width:952px){
    .saladcont{
        margin-top: 10%;
        display: flex;
        margin-left: 4%;
    }
    .saladcont h1{
        font-size: 30px;
        font-weight: 600;
    }
    .saladcont button{
        font-size: 22px;
        font-weight: 400;
        color: antiquewhite;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 2%;
        border-radius: 10%;
        background-color: rgb(97, 3, 38);
    }
    .saladimg{
        height: 300px;
        margin-left: 10%;
    }
    .noodimg{
        height: 200px;
        margin-left: 5%;
        margin-top: 5%;
    }
}